<?xml version="1.0"?>
<config>
    <modules>
        <VJTemplates_OnSaleVertCarousel>
            <version>1.0.2</version>
        </VJTemplates_OnSaleVertCarousel>
    </modules>
    <frontend>
        <routers>
            <onsalevertcarousel>
                <use>standard</use>
                <args>
                    <module>VJTemplates_OnSaleVertCarousel</module>
                    <frontName>onsalevertcarousel</frontName>
                </args>
            </onsalevertcarousel>
        </routers>
        <layout>
            <updates>
                <onsalevertcarousel>
                    <file>vjtemplates/onsalevertcarousel.xml</file>
                </onsalevertcarousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <onsalevertcarousel>
                <class>VJTemplates_OnSaleVertCarousel_Block</class>
            </onsalevertcarousel>
        </blocks>
		<blocks>
			<catalog>
				<rewrite>
					<product_onsalevert>VJTemplates_OnSaleVertCarousel_Block_Product_OnSale</product_onsalevert>
			   </rewrite>
			 </catalog>
		</blocks> 
    </global>
</config>